<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADCc55Gs9DyxXaogeruGygqx8aZBvGYug</string>
	<key>GCM_SENDER_ID</key>
	<string>298442104601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.energygym</string>
	<key>PROJECT_ID</key>
	<string>energygym-bf9d9</string>
	<key>STORAGE_BUCKET</key>
	<string>energygym-bf9d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298442104601:ios:8f9cb0a89bc477a2deef88</string>
</dict>
</plist>